<%- include('partials/header') %>

<div class="jumbotron centered">
        <div class="container">
        <div
        class="d-grid gap-2 d-sm-flex  justify-content-sm-center mt-3 bg-dark py-3"
        >
        <h2>THANK YOU</h2>
        </div>

        <div
        class="d-grid gap-2 d-sm-flex  justify-content-sm-center mt-3 bg-dark py-3"
        >
        <P>One of our representative will contact you soon</P>
        </div>
        </div>
        </div>

<%- include('partials/footer') %>